/* Base Button Class */

.btn {
	display: inline-block;
	margin-bottom: 0;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	text-decoration: none;
	@include border-radius(4px);
	padding-right: 1em;
	padding-left: 1em;
	font-family: inherit;
	&:hover {
		text-decoration: none;
	}
	&:active, &:focus {
		outline: none;
	}
}

/* Button Sizes */

.btn-xs {
	padding: 2px 4px;
	font-size: 10px;
	line-height: 1.5;
}

.btn-small {
	padding-right: 0.5em;
	padding-left: 0.5em;
	font-size: 12px;
	line-height: 24px;
}

.btn-default {
	padding-right: 1.5em;
	padding-left: 1.5em;
	font-size: 14px;
	line-height: 32px;
}

.btn-lg {
  padding-right: 2em;
  padding-left: 2em;
  font-size: 16px;
  line-height: 38px;
}



.btn-full{ // For buttons that span entire width
	width: 100%;
	padding-right: 0;
	padding-left: 0;
	text-align: center;
}

/* Button States */



/* UCSF Button Styles */

.btn-transparent {
	background: transparent;
	border-color: #fff;
	color: #fff;
}