/* Base Button Class */

.btn {
	display: inline-block;
	margin-bottom: 0;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
}

/* Button Sizes */

.btn-xs {
	padding: 2px 4px;
	font-size: 10px;
	line-height: 1.5;
}

.btn-small {

}

.btn-default {

}

.btn-lg {

}

/* Button States */



/* UCSF Button Styles */

