@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
    background-clip: padding-box;

    /* stops bg color from leaking outside the border: */
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@function gridCalc($colNumber, $grid-columns) {
    @return percentage($colNumber / $grid-columns);
}

@function convert-number-to-word($num) {
	$count:1;
	@each $word in one,two,three,four,five,six,seven,eight,nine,ten,eleven,
		twelve,thirteen,fourteen,fifteen,sixteen,seventeen,eighteen,nineteen,
		twenty,twentyone,twentytwo,twentythree,twentyfour{
		@if ($count == $num) { @return $num; }
		$count: $count + 1;
	}
	@return "invalid";
}