/*------------------------------------*\
    TABLES.CSS
\*------------------------------------*/

@mixin table-hover{

    tr:hover > td{

        background: $gray--light;
    }
}

/**
 * Table
 */

table{    
    width: 100%;
    /* Caption */

    caption{
        font-style: italic;        
    }
}


/**
 * Default table
 */

.table{

    td, th{
        border-bottom: 1px $base-ui-color solid    
    }

    @include table-hover;
}



/**
 * Bordered table
 */

.table--bordered{

    thead th{
        background: $light-blue;
        color: #fff;
        border-color: $light-blue;
        font-weight: 600;
        
        &:first-child{
            border-top-left-radius: $base-radius;
        }

        &:last-child{
            border-top-right-radius: $base-radius;
        }
    }
    
    td, th{
        border: 1px $base-ui-color solid    
    }
    
}

th, td {
    padding: 6px;
    text-align: left;
}

@media screen and (min-width: 480px) {
    th, td {
        padding: 12px;
    }
}



/**
 * Simple table
 */

.table--simple{

    td, th{
        border-bottom: 1px $base-ui-color solid;
    }

    @include table-hover;
}


/**
 * Zebra table
 */

.table--zebra{

    tr:nth-child(even){
        background: $gray--light;
    }
}