h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $base-font-family;
	font-weight: $base-font-weight;
	color: $headings-color;
	line-height: $base-line-height;
	.small {
		font-weight: normal;
		line-height: 1;
		color: $headings-small-color;
	}
}

h1, .h1 {
	font-size: 24px;
	font-weight: 400;
}

h2, .h2 {
	font-size: 24px;
	font-weight: 400;
}

h3, .h3 {
	font-size: 24px;
	font-weight: 400;
}

h4, .h4 {
	font-size: 24px;
	font-weight: 400;
}

h5, .h5 {
	font-size: 24px;
	font-weight: 400;
}

h6, .h6{
	font-size: 24px;
	font-weight: 400;
}

*{
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}