/*------------------------------------*\
ACCORDION.CSS
\*------------------------------------*/

%accordion-arrow{
  content: "\f107";
  font-family: FontAwesome;
  float: right;
  font-size: 18px;
}

%accordion-arrow-active{
  content: "\f106";
}

.ui-accordion{
  list-style: none;
  margin-left: 0;
  @include rem(margin-bottom);
  -webkit-tap-highlight-color: transparent;
}

/* Header */

.accordian__header {
  font-size: .9em;
  font-weight: 400;
  letter-spacing: .03em;
  line-height: 1.878em;
  font-weight: bold;
  padding: 1em;
  background-color: #F3F3F3;
}
