// Hero Module
.ui-module-hero-tapestry
	.container

		//img(src="assets/images/johnny_automatic_turkey.png")
		h1 UCSF Style Guide
		hr.rule.rule--light
		p.text--lead
			| Download UCSF Shoe String

		a.btn-download(href="https://github.com/ucsf-web-services") View on Github
// / Hero Module


.container

	ul.tapestry-features
	
