
<!-- Hero Module-->
<div class="ui-module-hero-tapestry">
  <div class="container"><img src="assets/images/johnny_automatic_turkey.png" width="400"/>
    <h1>UCSF Style Guide</h1>
    <hr class="rule rule--light"/>
    <p class="text--lead">Download UCSF Shoe String</p><a href="https://github.com/ucsf-web-services/shoestring/releases/download/1.0.3.beta/shoestring.zip" class="btn-download">Download</a>
  </div>
</div>
<!-- / Hero Module-->
<div class="container">
  <ul class="tapestry-features"></ul>
</div>